/*背景*/
.backgroun{
    width: auto;
    height:800px;
    border-color: bisque;
    border-width: 2px;
    border-style: solid;
}
/*画板*/
.canvas {
    /*width: 0px;*/
    /*height: 0px;*/
    border-color: #30cddf;
    border-width: 0px;
    border-style: inherit;
    top: 200px;
    left: 200px;
    position: absolute;
}
/*看板*/
.ShowBoard{
    width: 300px;
    height: 200px;
    border-color: #ff301f;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 200px;
    left: 200px;
}
.ShowBoard1{
    width: 400px;

}.ShowBoard2{
     width: 900px;
 }
/*图块*/
.block{
    border-width: 1px;
    border-style: inherit;
    border-color: #bbf40a;
    position: absolute;

}


/*图片*/
.img{
width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}

.info{

}
.txt{
    width: 50px;
}