/*背景*/
.backgroun{
    width: auto;
    height:800px;
    border-color: #ff0000;
    border-width: 2px;
    border-style: solid;
}
/*画板*/
.canvas {
    width: 10px;
    height: 10px;
    border-color: #30cddf;
    border-width: 2px;
    border-style: inherit;
    top: 50px;
    left: 200px;
    position: absolute;
}
/*看板*/
.ShowBoard{
    width: 1000px;
    height: 700px;
    border-color: #041cff;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 50px;
    left: 200px;
}

/*图块*/
.block{
    border-width: 1px;
    border-style: inherit;
    border-color: #dcdbd8;
    position: absolute;

}


/*图片*/
.img{
width: 250px;
    height: 250px;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    z-index: -1;
}

.info{
    border-color: #ff806f;
    border-style: solid;
    z-index: 5;
    position: relative;
}
.txt{
    width: 50px;
}
.p{
    height: 5px;
    font-size: 10px;
display: none;
}